*{
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: black;
    background-color: lightgray;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    transition: 1s;
    border: 2px;
    text-decoration: underline;
    cursor:pointer;
}
.flexbox{
    border-bottom: 2px solid black;
    background: rgb(172, 172, 172);
    border-color: black;
    width: 100%;
    height: clamp(20px, 10vh, 100px);
    margin: 0 auto;
}

.flexbox ul{
    font-size:clamp(0.5rem, 2.2vw, 3rem);
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 3px;
}
.flexbox li{
    list-style: none;
    width: 100%;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#logo{
    font-size:clamp(0.8rem, 2vw, 4rem);
    font-weight: bold;
}

footer{
    margin: 0;
    height: 100px;
    width:100%;
    background: black;
    color: white;
    position: relative;
    bottom: 0;
    text-align: right;
}

.footer p#end{
    position: relative;
    top: 16px;
    margin-right: 15px;
}
h1{
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
}

h2{
    margin-left: 3%;
    font-size: 2rem;
    margin-bottom: 0;
}
.corps p{
    text-indent: 10%;
    font-size: 1.3rem;
    text-align: justify;
}
p::first-letter{
    font-weight: bold;
    font-size: 2rem;
}

.corps{
    margin-left: 5%;
    margin-right: 20%;
}
img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.modele li{
    list-style:circle;
}

.modele li span{
    font-weight: bold;
    font-size:1.3rem;
}

.souligne{
    margin:0px auto;
    background-color: black;
    height: 3px;
    width:70%;
    margin-bottom: 30px;
}

@media (min-width:1900px){
    img{
        height: 600px;
    }
    .corps p{
        font-size: 2.5rem;
    }
    p::first-letter{
        font-size: 4rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 4rem;
    }
}


@media screen and (max-width:650px){
    img{
        height: 150px;
    }
    h1{
        font-size: 1.5rem;
    }
    .corps{
        margin-right: 5%;
    }
    .corps p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1024px) and (min-width:650px){
    img{
        height: 300px;
    }
}

.flexbox li:nth-child(even){
    display: none;
}
@media (max-width:370px){
    .flexbox li:nth-child(odd){
        display: none;
    }
    .flexbox li:nth-child(even){
        display: flex;
        font-size: 1.5rem;
    }
}