@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

*{
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    color: black;
    min-height: 100vh;
    background-color: lightgray;
}
h1{
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    transition: 1s;
    border: 2px;
    text-decoration: underline;
    cursor:pointer;
}

.flexbox{
    border-bottom: 2px solid black;
    background: rgb(172, 172, 172);
    border-color: black;
    width: 100%;
    height: clamp(20px, 10vh, 100px);
    margin: 0 auto;
    animation: slideRight 800ms ease 0s 1 normal none;
}

.flexbox ul{
    font-size:clamp(0.5rem, 2.2vw, 3rem);
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 3px;
}
.flexbox li{
    list-style: none;
    width: 100%;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#logo{
    font-size:clamp(0.8rem, 2vw, 4rem);
    font-weight: bold;
}

footer{
    margin: 0;
    height: 100px;
    width:100%;
    background: black;
    color: white;
    position: relative;
    bottom: 0;
    text-align: right;
}

p#end{
    position: relative;
    top: 15px;
    margin-right: 15px;
}

@keyframes slideRight {
    from {
      transform: scale(0.5);
      margin-left: 100%;
    }
    to {
      opacity: 1;
      margin-left: 10px;
    }
}

.construc{
    margin: 15px;
    justify-items: center;
}
.construc p{
    text-align: center;
    font-size:clamp(0.8rem, 2.5vw, 1.5rem);
}
.construc img{
    display: block;
    width: clamp(50vw, 650px, 90vw);
    margin: auto;
}



.flexbox li:nth-child(even){
    display: none;
}
@media (max-width:370px){
    .flexbox li:nth-child(odd){
        display: none;
    }
    .flexbox li:nth-child(even){
        display: flex;
        font-size: 1.5rem;
    }
}