@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

*{
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: lightgray;
    color: black;
    font-size: 1.3rem;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    transition: 1s;
    text-decoration: underline;
}
.flexbox{
    border-bottom: 2px solid black;
    background: rgb(172, 172, 172);
    border-color: black;
    width: 100%;
    height: clamp(20px, 10vh, 100px);
    margin: 0 auto;
}

.flexbox ul{
    font-size:clamp(0.5rem, 2.2vw, 3rem);
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 3px;
}
.flexbox li{
    list-style: none;
    width: 100%;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#logo{
    font-size:clamp(0.8rem, 2vw, 4rem);
    font-weight: bold;
}

footer{
    margin: 0;
    height: 100px;
    width:100%;
    background: black;
    color: white;
    position: relative;
    bottom: 0;
    text-align: right;
}

p#end{
    margin-right: 15px;
}

p#begin{
    margin-left: 10%;
    font-weight: bold;
}

.news ul{
    margin-left: 20%;
    margin-right: 20%;
}
.news{
    margin-left: 2%;
}

.news li{
    padding-top: 5px;
    list-style: none;
    transform: translateX(-100%);
}

.news li::after{
    content: "";
    transform: translateX(0%);
}

@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.news li:hover{
    text-decoration: underline;
}

.news p{
    transform: translateX(-200%);   
}
.date{
    margin:0;
    color: black;
    border-bottom: 2px black solid;
    margin-right: 20%;
    padding-bottom: 10px;
    font-size: 1.1rem;
}


.flexbox li:nth-child(even){
    display: none;
}
@media (max-width:370px){
    .flexbox li:nth-child(odd){
        display: none;
    }
    .flexbox li:nth-child(even){
        display: flex;
        font-size: 1.5rem;
    }
}